# Main packages
beautifulsoup4>=4.13.4
bip32utils>=0.3.post4
elevate>=0.1.3
eth-account>=0.13.7
mnemonic>=0.21
pillow>=11.2.1
playwright>=1.52.0
pyinstaller>=6.13.0
reportlab>=4.4.1
requests>=2.32.3
sqlalchemy>=2.0.41
svglib>=1.5.1
web3>=7.12.0